@{ 
    <!-- Set in one place for both GET & POST views. -->
    ViewBag.Title = "Contact Us";
}

<!-- Tells form to use post back to server when submitted. -->
<!-- Searches for a POST controller method matching the view's name. -->
<form method="post">
    <label>Your Name:</label>
    <br />
    <!-- Setting 'name' property maps up with model properties. -->
    <input name="name"/>
    <br />
    <label>Email:</label>
    <br />
    <!-- Setting 'type' property validates input as 'valid' email format. -->
    <input type="email" name="email"/>
    <br />
    <label>Subject:</label>
    <br />
    <input type="text" name="subject"/>
    <br />
    <label>Message:</label>
    <br />
    <textarea rows="4" name="message"></textarea>
    <br />
    <!-- Form looks for 'submit' input to trigger specified 'method'. -->
    <input type="submit" value="Send Message" />
</form>