@page
<!-- ^^ Declares file as Razor Page. W/o controller, views, etc.-->
<!-- Includes lack of 'Layout' and other 'View' templating. -->
<!-- NEVER GOT REDIRECT TO WORK -->

<h2>Sorry...</h2>
<p>We've had a problem. Please try later.</p>