<!-- Layout to be rendered by all views. -->
<!-- Assigned for each of them by use of _ViewStart. -->
<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <!-- Root '~' addition needed after file moved to nested dir. -->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>Welcome to Dutch Treat</header>
    <section>
        <h2>@ViewBag.Title</h2>
        <!-- Renders contents of view Layout is templating. -->
        @RenderBody() 
    </section>
    <footer>Copyright 2017 Dutch Treat LLC</footer>

    <!-- Above index.js so it can be consumed by by that script. Couldn't be drag/dropped, had to be manually typed. -->
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>

    <!-- At bottom to prevent execution from happening before HTML elements have been created.-->
    <script src="~/js/index.js"></script>
</body>
</html>